.header {
	background: url(../img/header/header-bg.jpg) no-repeat;
	width: 100%;
	position: relative;
}

.header:before {
	background: #fff;
	position: absolute;
	content: '';
	opacity: 0.3;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

.header-block {
	position: relative;
	padding-top: 38px;
	padding-bottom: 200px;
}

.content-block {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
}


.row-menu-wrap {
	display: flex;
	justify-content: space-between;
	margin-bottom: 167px;
}


.header-logo {

}



.row-menu ul {
	display: flex;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}



.row-menu li {
	margin: 0px;
	padding: 0px;
}


.row-menu a {
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
	color: #191919;
	line-height: 22px;
	padding-left: 17px;
	padding-right: 17px;
}


.row-menu a:hover {
	color: #10c9c3;
}


.header-title-text {
	max-width: 509px;
	margin-left: auto;
}


.header-title {
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 38px;
	line-height: 48px;
	color: #1d1d1d;margin-bottom: 20px;
}


.header-text {
	font-family: 'Nunito+Sans';
	font-size: 18px;
	line-height: 28px;
	color: #787878;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 35px;
}


.header-button-wrap {
	display: inline-block;
	margin-left: 8px;
}

.header-button {
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 12px;
	text-transform: uppercase;
	padding: 20px 51px;
	color: #fff;
	background: #10c9c3;
	border: none;
}


.header-button:hover {
	background: #d0d0d0;
}


.about-us-content {
	text-align: center;
	padding-top: 83px;
	padding-bottom: 92px;
}

.about-us-title {
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 30px;
	line-height: 60px;
	color: #191919;
	max-width: 170px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 14px;
}


.about-us-text {
	font-family: 'Nunito+Sans';
	font-size: 16px;
	line-height: 24px;
	color: #787878;
	max-width: 642px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 36px;
}


.about-us-img {

}

.skills-block {

}


.professional {
	display: flex;
	height: 565px;
}

.skills-left {
	width: 50%;
	background: #f8f9f9;
}


.skills-right {
	width: 50%;
}


.skills-right img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.skills-item-wrap {
	max-width: 500px;
	padding-top: 130px;
	padding-bottom: 164px;
	margin-right: 83px;
	margin-left: auto;
}


.skills-left-title {
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 30px;
	line-height: 85px;
	color: #171717;
	max-width: 294px;
}

.skills-left-item {

}


.skills-left-text {
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 12px;
	color: #000000;
	line-height: 30px;
	text-transform: uppercase;
}

.skills-left-line-1 {
	width: 500px;
	height: 3px;
	background: #d8d8d8;
	position: relative;
	margin-top: 8px;
	margin-bottom: 31px;
}

.skills-left-line-1:before {
	content: '';
	position: absolute;
	width: 75%;
	height: 3px;
	background: #10c9c3;
}


.skills-left-line-2 {
	width: 500px;
	height: 3px;
	background: #d8d8d8;
	position: relative;
	margin-top: 9px;
	margin-bottom: 30px;
}

.skills-left-line-2:before {
	content: '';
	position: absolute;
	width: 90%;
	height: 3px;
	background: #10c9c3;
}




.skills-left-line-3 {
	width: 500px;
	height: 3px;
	background: #d8d8d8;
	position: relative;
	margin-top: 10px;
}

.skills-left-line-3:before {
	content: '';
	position: absolute;
	width: 65%;
	height: 3px;
	background: #10c9c3;
}


.project {
	background: #10c9c3;
}

.project-content {
	padding-top: 93px;
	padding-bottom: 93px;
}


.project-wrap {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}


.project-item {
	display: flex;
	width: 270px;
	margin-left: 15px;
	margin-right: 15px;
	align-items: center;
}


.project-img {

}

.project-text {
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 18px;
	line-height: 30px;
	color: #ffffff;
	display: inline-block;
	margin-left: 31px;
}



.project-title {
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 12px;
	line-height: 24px;
	color: #ffffff;
	text-transform: uppercase;
	margin-left: 31px;
	letter-spacing: 1px;
}


.gallery {

}


.gallery-wrap {
	display: flex;
	flex-wrap: wrap;
}





.gallery-item {
	width: 25%;
	height: 300px;
	position: relative;
}

.gallery-item-img:hover {
	background: #838383;
}



.gallery-img {
	height: 300px;
}


.gallery-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.gallery-hover {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 141px;
    left: -12px;
}



.gallery-hover img {
	width: 50px;
	position: absolute;
}


.gallery-button-wrap {
	width: 100%;
	background: #f5f5f5	;
}


.gallery-button {
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 12px;
	text-transform: uppercase;
	color: #8e8e8e;
	border: none;
	padding-top: 45px;
	padding-bottom: 45px;
	line-height: 8px;
	letter-spacing: 1px;
	width: 100%;
}

.gallery-button:hover {
	background: #10c9c3;
	transition: 1.2s;
	color: #fff;
}


.our-work-process {

}

.process {
	padding-top: 83px;
	padding-bottom: 98px;
}

.our-work-process-wrap {
	text-align: center;
}


.our-work-process-title {
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 30px;
	line-height: 60px;
	color: #191919;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 14px;
}



.our-work-process-text {
	font-family: 'Nunito+Sans';
	font-size: 16px;
	color: #787878;
	line-height: 24px;
	width: 524px;
	margin-left: auto;
	margin-right: auto;
	letter-spacing: 1px;
	margin-bottom: 53px;
}



.our-work-process-videos {

}

.our-work-process-videos iframe {
	width: 1170px;
	height: 571px;
}


.icons {
	background: #f5f5f5;
}

.icons-content-block {
	padding-top: 100px;
	padding-bottom: 46px;
}


.icons-wrap {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
	align-items: center;

}

.icons-block {
	width: 270px;
	text-align: center;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 50px;
}


.icon-img {
	margin-bottom: 17px;
}


.icon-title {
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 12px;
	line-height: 30px;
	color: #191919;
	text-transform: uppercase;
}


.icon-text {
	font-family: 'Nunito+Sans';
	font-size: 16px;
	line-height: 24px;
	color: #787878;
}



.comment {
	background: #10c9c3;
}

.comment-block {
	text-align: center;
	padding-top: 174px;
	padding-bottom: 60px;
}

.comment-wrap {

}


.comment-text {
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	color: #fff;
	width: 809px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 16px;
}


.comment-title {
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 12px;
	line-height: 36px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 96px;
}


.comment-dots {
	display: flex;
	align-items: center;
	justify-content: center;
}


.dot-1 {
	width: 6px;
	height: 6px;
	background: #b0e8e6;
	border-radius: 50%;
	margin-left: 5px;
	margin-right: 5px;
}

.dot-1:hover {
	background: #fff;
	cursor: pointer;
}


.dot-2 {
	width: 10px;
	height: 10px;
	background: #b0e8e6;
	border-radius: 50%;
	margin-left: 5px;
	margin-right: 5px;
}

.dot-2:hover {
	background: #fff;
	cursor: pointer;
}

.dot-3 {
	width: 6px;
	height: 6px;
	background: #b0e8e6;
	border-radius: 50%;
	margin-left: 5px;
	margin-right: 5px
}

.dot-3:hover {
	background: #fff;
	cursor: pointer;
}


.company {

}

.company-block {
	padding-top: 66px;
	padding-bottom: 56px;
}

.company-wrap {
	display: flex;
	text-align: center;
	justify-content: space-between;
}


.company-item {
	width: 170px;
	margin-left: 15px;
	margin-right: 15px;
}	


.company-img {

}



.form {
	background: #f5f5f5;
}

.form-block {
	text-align: center;
	padding-top: 74px;
	padding-bottom: 99px;
}


.form-wrap {

}

.form-title {
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 30px;
	color: #1d1d1d;
	line-height: 84px;
	width: 244px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 4px;
}


.form-text {
	font-family: 'Nunito+Sans';
	font-size: 16px;
	line-height: 24px;
	color: #787878;
	width: 496px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 33px;
}

.forms-inputs {
	margin-bottom: 27px;
}

.forms-inputs input {
	font-family: 'Nunito+Sans';
	font-size: 15px;
	color: #787878;
	width: 321px;
	padding: 14px 20px 14px 20px;
	margin-left: 15px;
	margin-right: 15px;
	outline: none;


}


.form-input {
	width: 671px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 28px;
}

.form-input input {
	font-family: 'Nunito+Sans';
	font-size: 15px;
	color: #787878;
	width: 100%;
	padding: 14px 20px 14px 20px;
	outline: none;
}

.textarea {
	width: 671px;
	height: 170px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 24px;
}


.textarea textarea {
	font-family: 'Nunito+Sans';
	font-size: 15px;
	color: #787878;
	width: 100%;
	height: 100%;
	padding-top: 16px;
	padding-left: 15px;
	outline: none;
}


.form-button-wrap {
	display: inline-block;
}

.form-button:hover {
	background: #d0d0d0;
	transition: 0.5s;
}


.form-button {
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 12px;
	color: #ffffff;
	padding: 23px 40px 23px 40px;
	border: none;
	background: #10c9c3;
}


.footer {
	background: #000;
}

.footer-block {
	padding-top: 102px;
	padding-bottom: 102px;
}


.footer-wrap {
	display: flex;
}


.footer-left {
	margin-right: 228px;
}

.left-item {
	width: 243px;
}

.left-item a {
	list-style-type: none;
	text-decoration: none;
	color: #fff;
}


.piroll-design {
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 	18px;
	margin-bottom: 28px;
}

.piroll-design a:hover {
	color: #10c9c3;
}

.copyright {
	font-family: 'Nunito+Sans';
	font-size: 15px;
	color: #bcbcbc;
}

.copyright a:hover {
	color: #10c9c3;
}



.footer-right {
	display: flex;
}


.right-item {
	width: 170px;
	margin-right: 88px;
}

.right-item nav ul {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

.right-item a {
	text-decoration: none;
	color: #bcbcbc;
}


.footer-right-email {
	font-family: 'Nunito+Sans';
	font-size: 15px;
	margin-bottom: 10px;
}

.footer-right-email:hover {
	color: #10c9c3;
}


.footer-right-phone {
	font-family: 'Work+Sans';
	font-size: 	15px;
}

.footer-right-phone a:hover {
	color: #10c9c3;
}
.navigation {
	font-family: 'Nunito+Sans';
	font-size: 15px;	
	margin-left: 38px;
}

.navigation li {
	margin-bottom: 10px;
}

.navigation nav ul {
  list-style-type: none;
  -webkit-column-count: 2;
  margin: 0px;
  padding: 0px;

}

.navigation a {
	list-style-type: none;
	text-decoration: none;
	color: #bcbcbc;
	margin-left: 11px;
	margin-right: 21px;
}

.navigation a:hover {
	color: #10c9c3;
}


.social-items a {
	list-style-type: none;
	text-decoration: none;
	color: #bcbcbc;
}

.social-items li {
	margin-bottom: 10px;
}

.social-items {
	font-family: 'Nunito+Sans';
	font-size: 15px;
	margin-left: 108px;
}

.social-items nav ul {
	margin: 0px;
	padding: 0px;
}

.social-items a {
	text-decoration: none;
	color: #bcbcbc;
}

.social-items a:hover {
	color: #10c9c3;
}
